*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

.container{

}

.list-container{
    display: flex;
    justify-content: space-between;
    gap : 0.1rem;
}

.movie{
    position: relative;
}

.movie>img{
    height: 75%;
    transition: 0.5s ease;
    display: block;
}

.overlay{
    position: absolute;
    background: rgba(0,0,0,0.5);
    transition: 0.5s ease;
    color : #fff;
    opacity: 0;
}

.movie:hover .overlay{
    opacity: 1;
}

.movie:hover{
    transform: scale(1.1);
}

.heading>h2{
    color : #fff;
}

.header{
    margin : 0.1rem;
    display: flex;
    align-items: center;
}

.search{
    margin-left : 75%;
    margin-right: 0;
}

.search>input{
    border-radius: 0.5rem;
}

h1{
    color : #ff0000;
}